body{
    background:url(../static/img/menucolor.jpg) repeat-y;
}
html{
    min-width: 1000px;
}
#app{
    padding-left:150px;
    padding-right:30px;
    white-space:nowrap;
}
.menuleft{
    margin-left:-150px;
    width:150px;
    display: inline-block;
}
.menuleft .ivu-menu .ivu-menu-item:hover,.menuleft .ivu-menu .ivu-menu-submenu-title:hover{
    background:#d1dbe5;
}
.menuleft .ivu-menu-light{
    background:none;
}
.menuleft .ivu-menu-vertical.ivu-menu-light:after{
    background:none;
}
.main{
    display: inline-block;
    vertical-align: top;
    width:100%;
    font-size:16px;
}
.mainbox{
    padding-left:30px;
}
.maintop{
    height:30px;
}
.listtitle{
    height: 30px;
    border-radius: 4px;
    margin: 15px 0;
    padding: 0 15px;
    line-height: 30px;
    color: #6a778c;
    background-color: #e5e9f2;
}
.icondiv{
    background:url('../static/img/new-logo.png') no-repeat center center;
    height:150px;

}
.accountul{
    padding-left:100px;
}
.accountbox{
    border-right:1px dashed #6a778c;
    float:left;
    margin:20px 0;
    width:200px;
    text-align: center;
}
.accountboxtop{
    height:21px;
    line-height:21px;
}
.accountboxmid{
    height:42px;
    line-height:42px;
}
.clearboth{
    clear:both;
}